<?php

$app['database'] = [
    'driver'   => 'pdo_pgsql',
    'host'     => '{{ db_host }}',
    'dbname'   => '{{ dep_db }}',
    'user'     => '{{ db_user }}',
    'password' => '{{ db_pass }}',
    'charset'  => 'utf8',
];
