<!doctype>
<html>
<head>
{% block head %}
	<link href="/css/style.css" rel="stylesheet" type="text/css" />
    {% block style %}
    {% endblock %}
	<title>{% block title %}Megaladon{% endblock %}</title>
{% endblock %}
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
